@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@model CreditApplication.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4 class="mb-0">Създаване на нов потребител</h4>
                </div>

                <div class="card-body">
                    <form method="post" class="row g-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Input.Email" class="control-label">Въведете имейл адрес на потребител</label>
                            <input asp-for="Input.Email" class="form-control" required/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
            @*             <div class="form-group">
                            <label asp-for="Account.ClientID" class="control-label"></label>
                            <select asp-for="Account.ClientID" class ="form-control" asp-items="ViewBag.ClientID"></select>
                        </div> *@
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Input.Password" class="control-label">Парола</label>
                            <input asp-for="Input.Password" class="form-control" required />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Input.ConfirmPassword" class="control-label">Подвърдете парола</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" required />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Input.Role" class="control-label">Роля на потребител</label>
                            <select asp-for="Input.Role" class="form-select"
                                                asp-items="Model.RoleSelectList" required>
                                <option value="">-- Изберете --</option>
                            </select>
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <input asp-for="Input.IsActive" class="form-check-input" required />
                            <label asp-for="Input.IsActive" class="form-check-label">Активен потребител</label>
                        </div>
                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-sm btn-primary-miriam px-5">Създай</button>
                            <a asp-page="Index" class="btn btn-sm btn-secondary-miriam px-4 ms-2">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
