@page
@model CreditApplication.Pages.Accounts.EditModel

@{
    ViewData["Title"] = "Редактиране на акаунт";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="mb-0">Редактиране на акаунт</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Account.ID" />
                        <div class="form-group col-12 mt-2">
                            <label asp-for="Account.Username" class="control-label">Потребителско име</label>
                            <input asp-for="Account.Username" class="form-control" />
                            <span asp-validation-for="Account.Username" class="text-danger"></span>
                        </div>

                        <div class="form-group col-12 mt-2">
                            <label asp-for="NewPassword" class="control-label">Нова парола</label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group col-12 mt-2">
                            <label asp-for="ConfirmPassword" class="control-label">Потвърдете новата парола</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        @if (Model.Account.Role == CreditApplication.Data.AccountRole.Client && Model.Account.ClientID != null)
                        {
                            <div class="form-group col-12 mt-2">
                                <label asp-for="Account.ClientID" class="control-label">ЕГН на клиент</label>
                                <select asp-for="Account.ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                                <span asp-validation-for="Account.ClientID" class="text-danger"></span>
                            </div>
                        }
   
                        <div class="form-group col-12 mt-2">
                            <label asp-for="Account.Role" class="control-label">Роля в системата</label>
                            <select asp-for="Account.Role" class="form-control" asp-items="ViewBag.Roles"></select>
                            <span asp-validation-for="Account.Role" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check mt-2">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Account.IsActive" /> Активен акаунт?
                            </label>
                        </div>
                        <div class="form-group col-12 text-center mt-4">
                            <input type="submit" value="Запази" class="btn btn-primary-miriam px-5" />
                            <a asp-page="./Index" class="btn btn-secondary-miriam px-4 ms-2">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
