@page
@model CreditApplication.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Вход";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="card-title mb-4 text-center">Вход</h3>
                    <form method="post" novalidate>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" type="email" class="form-control @(ViewData.ModelState["Input.Email"]?.Errors.Count>0 ? "is-invalid" : "")" placeholder="Имейл" />
                            <label asp-for="Input.Email">Имейл</label>
                            <div class="invalid-feedback">
                                <span asp-validation-for="Input.Email"></span>
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="Input.Password" type="password" class="form-control @(ViewData.ModelState["Input.Password"]?.Errors.Count>0 ? "is-invalid" : "")" placeholder="Парола" />
                            <label asp-for="Input.Password">Парола</label>
                            <div class="invalid-feedback">
                                <span asp-validation-for="Input.Password"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary-miriam w-100">Вход</button>
                    </form>
                    <div class="mt-3 text-center text-primary-miriam">
                        <a asp-page="/Entrance/Register">Нямаш акаунт? Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}