USE [master]
GO
/****** Object:  Database [CreditApplication]    Script Date: 21/05/2025 15:27:45 ******/
CREATE DATABASE [CreditApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CreditApplication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CreditApplication.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CreditApplication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CreditApplication_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CreditApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CreditApplication]
GO
/****** Object:  Schema [21180011]    Script Date: 21/05/2025 15:27:45 ******/
CREATE SCHEMA [21180011]
GO
/****** Object:  Table [21180011].[Accounts]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[Accounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](256) NOT NULL,
	[ClientID] [int] NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[PasswordSalt] [varbinary](128) NOT NULL,
	[Role] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedOn21180011] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[ClientAddress]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[ClientAddress](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[StreetNeighbourhood] [nvarchar](50) NOT NULL,
	[Number] [nvarchar](5) NOT NULL,
	[PostCode] [nvarchar](4) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ClientID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[ClientFinancials]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[ClientFinancials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[MontlyIncome] [decimal](18, 0) NOT NULL,
	[MontlyExpenses] [decimal](18, 0) NOT NULL,
	[EmploymentType] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[Clients]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EGN] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](10) NOT NULL,
	[IDCardNumber] [nvarchar](20) NOT NULL,
	[IDValidityDate] [date] NOT NULL,
	[IDIssueDate] [date] NOT NULL,
	[IDIssuer] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[Credits]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[Credits](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[CreditAmount] [decimal](18, 0) NOT NULL,
	[CreditBeginDate] [date] NULL,
	[CreditEndDate] [date] NULL,
	[InterestRate] [decimal](10, 2) NULL,
	[Status] [int] NOT NULL,
	[ActivationDate] [date] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[CreditPeriod] [int] NULL,
	[TotalCreditAmount] [decimal](18, 0) NULL,
	[MonthlyInstallment] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[FinancialOperations]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[FinancialOperations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreditID] [int] NOT NULL,
	[PayedOnDate] [date] NULL,
	[PayedAmount] [decimal](18, 0) NULL,
	[OperationType] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[log_21180011]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[log_21180011](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[ActionType] [nvarchar](20) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[Nomenclature]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[Nomenclature](
	[NomCode] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NomCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[RepaymentPlan]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[RepaymentPlan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreditID] [int] NOT NULL,
	[InstallmentNumber] [int] NULL,
	[InstallmentDate] [date] NULL,
	[InstallmentAmount] [decimal](18, 2) NULL,
	[Principal] [decimal](18, 2) NULL,
	[Interest] [decimal](18, 2) NULL,
	[isPaid] [bit] NULL,
	[PayedOnDate] [date] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [21180011].[Roles]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [21180011].[Roles](
	[ID] [tinyint] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [21180011].[Accounts] ADD  CONSTRAINT [DF_Accounts_Role]  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [21180011].[Accounts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [21180011].[Accounts] ADD  DEFAULT (sysutcdatetime()) FOR [ModifiedOn21180011]
GO
ALTER TABLE [21180011].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [21180011].[ClientAddress] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [21180011].[ClientAddress] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [21180011].[ClientFinancials] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [21180011].[ClientFinancials] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [21180011].[Clients] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [21180011].[Clients] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [21180011].[Credits] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [21180011].[Credits] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [21180011].[FinancialOperations] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [21180011].[FinancialOperations] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [21180011].[Nomenclature] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [21180011].[Nomenclature] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [21180011].[RepaymentPlan] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [21180011].[RepaymentPlan] ADD  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [21180011].[ClientFinancials]  WITH CHECK ADD FOREIGN KEY([EmploymentType])
REFERENCES [21180011].[Nomenclature] ([NomCode])
GO
ALTER TABLE [21180011].[Credits]  WITH CHECK ADD  CONSTRAINT [FK_Credits_Nomenclature_Status] FOREIGN KEY([Status])
REFERENCES [21180011].[Nomenclature] ([NomCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [21180011].[Credits] CHECK CONSTRAINT [FK_Credits_Nomenclature_Status]
GO
ALTER TABLE [21180011].[FinancialOperations]  WITH CHECK ADD FOREIGN KEY([OperationType])
REFERENCES [21180011].[Nomenclature] ([NomCode])
GO
ALTER TABLE [21180011].[Accounts]  WITH CHECK ADD  CONSTRAINT [CHK_Accounts_Role] CHECK  (([Role]=(3) OR [Role]=(2) OR [Role]=(1)))
GO
ALTER TABLE [21180011].[Accounts] CHECK CONSTRAINT [CHK_Accounts_Role]
GO
/****** Object:  StoredProcedure [21180011].[sp_CreateRepaymentPlanForCredit]    Script Date: 21/05/2025 15:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [21180011].[sp_CreateRepaymentPlanForCredit]
    @CreditID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @CreditAmount       DECIMAL(18,2),
        @InterestRate       DECIMAL(10,2),
        @CreditBeginDate    DATE,
        @CreditPeriod       INT,
        @MonthlyRate        DECIMAL(18,10),
        @MonthlyPayment     DECIMAL(18,2),
        @RemainingBalance   DECIMAL(18,2),
        @InstallmentDate    DATE,
        @Interest           DECIMAL(18,2),
        @Principal          DECIMAL(18,2),
        @Counter            INT;

    -- Вземане на параметрите на кредита
    SELECT 
        @CreditAmount    = CreditAmount,
        @InterestRate    = InterestRate,
        @CreditBeginDate = CreditBeginDate,
        @CreditPeriod    = CreditPeriod
    FROM [21180011].[Credits]
    WHERE ID = @CreditID;

    -- Изтриване на стария план (ако има такъв)
    DELETE FROM [21180011].[RepaymentPlan]
    WHERE CreditID = @CreditID;

    -- Изчисляване на анюитетна вноска
    SET @MonthlyRate = @InterestRate / 12.0;
    IF @MonthlyRate > 0
        SET @MonthlyPayment = @CreditAmount * @MonthlyRate / (1 - POWER(1 + @MonthlyRate, -@CreditPeriod));
    ELSE
        SET @MonthlyPayment = @CreditAmount / @CreditPeriod;

    SET @RemainingBalance = @CreditAmount;
    SET @Counter = 1;

    -- Генериране на редове за всяка вноска
    WHILE @Counter <= @CreditPeriod
    BEGIN
        SET @InstallmentDate = DATEADD(MONTH, @Counter, @CreditBeginDate);
        SET @Interest        = @RemainingBalance * @MonthlyRate;
        SET @Principal       = @MonthlyPayment - @Interest;

        IF @Counter = @CreditPeriod
        BEGIN
            -- Корекция на закръглянето при последна вноска
            SET @Principal       = @RemainingBalance;
            SET @MonthlyPayment  = @Principal + @Interest;
        END

        INSERT INTO [21180011].[RepaymentPlan]
            (CreditID, InstallmentNumber, InstallmentDate, InstallmentAmount, Principal, Interest, isPaid)
        VALUES
            (
              @CreditID,
              @Counter,
              @InstallmentDate,
              ROUND(@MonthlyPayment, 2),
              ROUND(@Principal,       2),
              ROUND(@Interest,        2),
              0
            );

        SET @RemainingBalance = @RemainingBalance - @Principal;
        SET @Counter = @Counter + 1;
    END
END;
GO
USE [master]
GO
