@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Client,Employee,Admin")]
@model CreditApplication.Pages.ClientAddresses.EditModel

@{
    ViewData["Title"] = "Редакция";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4 class="mb-0">Редактиране на адрес</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ClientAddress.ID" />

                        @using Microsoft.AspNetCore.Identity
                        @if (User.IsInRole("Client"))
                        {
                            <input type="hidden" asp-for="ClientAddress.ClientID" />
                        }

                        @using Microsoft.AspNetCore.Identity
                        @if (!User.IsInRole("Client"))
                        {
                            <div class="form-group col-12">
                                <label asp-for="ClientAddress.ClientID" class="control-label">Изберете клиент</label>
                                <select asp-for="ClientAddress.ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                                <span asp-validation-for="ClientAddress.ClientID" class="text-danger"></span>
                            </div>
                        }

                        <div class="form-group col-12">
                            <label asp-for="ClientAddress.City" class="control-label">Населено място</label>
                            <input asp-for="ClientAddress.City" class="form-control" />
                            <span asp-validation-for="ClientAddress.City" class="text-danger"></span>
                        </div>

                        <div class="form-group col-12">
                            <label asp-for="ClientAddress.StreetNeighbourhood" class="control-label">Улица/Квартал</label>
                            <input asp-for="ClientAddress.StreetNeighbourhood" class="form-control" />
                            <span asp-validation-for="ClientAddress.StreetNeighbourhood" class="text-danger"></span>
                        </div>

                        <div class="form-group col-12">
                            <label asp-for="ClientAddress.Number" class="control-label">Номер</label>
                            <input asp-for="ClientAddress.Number" class="form-control" />
                            <span asp-validation-for="ClientAddress.Number" class="text-danger"></span>
                        </div>

                        <div class="form-group col-12">
                            <label asp-for="ClientAddress.PostCode" class="control-label">Пощенски код</label>
                            <input asp-for="ClientAddress.PostCode" class="form-control" />
                            <span asp-validation-for="ClientAddress.PostCode" class="text-danger"></span>
                        </div>

                        <div class="form-group col-12 text-center mt-4">
                            <input type="submit" value="Запази" class="btn btn-sm btn-primary-miriam px-5" />

                            @using Microsoft.AspNetCore.Identity
                            @if (!User.IsInRole("Client"))
                            {
                                <a asp-page="./Index" class="btn btn-sm btn-secondary-miriam px-4 ms-2">Назад</a>

                            }
                            else
                            {
                                <a asp-page="/Accounts/Profile" class="btn btn-sm btn-secondary-miriam px-4 ms-2">Назад</a>
                            }

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
