@page "/profile/{Id:int}"
@using FastCreditApp.Data
@using FastCreditApp.Data.Entities
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations
@using System.Linq
@using System.Collections.Generic


<h3>Profile</h3>

@code {
    public int? Id { get; set; }
}
}
