@page
@model CreditApplication.Pages.LogTables.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LogTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LogTable.ID" />
            <div class="form-group">
                <label asp-for="LogTable.TableName" class="control-label"></label>
                <input asp-for="LogTable.TableName" class="form-control" />
                <span asp-validation-for="LogTable.TableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogTable.ActionType" class="control-label"></label>
                <input asp-for="LogTable.ActionType" class="form-control" />
                <span asp-validation-for="LogTable.ActionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogTable.ActionDate" class="control-label"></label>
                <input asp-for="LogTable.ActionDate" class="form-control" />
                <span asp-validation-for="LogTable.ActionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
