@page
@model CreditApplication.Pages.Clients.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="mb-0">Промяна на детайли на клиент</h2>
                </div>

                <div class="card-body">
                    <form method="post" class="row g-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Client.ID" />

                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Client.FirstName" class="control-label">Име:</label>
                            <input asp-for="Client.FirstName" class="form-control" />
                            <span asp-validation-for="Client.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="Client.MiddleName" class="control-label">Бащино име:</label>
                            <input asp-for="Client.MiddleName" class="form-control" />
                            <span asp-validation-for="Client.MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Client.LastName" class="control-label">Фамилия:</label>
                            <input asp-for="Client.LastName" class="form-control" />
                            <span asp-validation-for="Client.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Client.EGN" class="control-label">ЕГН:</label>
                            <input asp-for="Client.EGN" class="form-control" />
                            <span asp-validation-for="Client.EGN" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="Client.Email" class="control-label">Имейл:</label>
                            <input asp-for="Client.Email" class="form-control" />
                            <span asp-validation-for="Client.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="Client.PhoneNumber" class="control-label">Телефон:</label>
                            <input asp-for="Client.PhoneNumber" class="form-control" />
                            <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Client.IDCardNumber" class="control-label">Номер на лична карта:</label>
                            <input asp-for="Client.IDCardNumber" class="form-control" />
                            <span asp-validation-for="Client.IDCardNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="text-danger">*</span>
                            <label asp-for="Client.IDValidityDate" class="control-label">Дата на валидност:</label>
                            <input asp-for="Client.IDValidityDate" class="form-control" />
                            <span asp-validation-for="Client.IDValidityDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="text-danger">*</span>
                            <label asp-for="Client.IDIssueDate" class="control-label">Дата на издаване:</label>
                            <input asp-for="Client.IDIssueDate" class="form-control" />
                            <span asp-validation-for="Client.IDIssueDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Client.IDIssuer" class="control-label">Издадена от (МВР):</label>
                            <input asp-for="Client.IDIssuer" class="form-control" />
                            <span asp-validation-for="Client.IDIssuer" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 text-center mt-4">
                            <input type="submit" value="Запази" class="btn btn-primary btn-lg px-5" />
                            <a asp-page="./Index" class="btn btn-dark btn-lg px-4 ms-2">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
