@page
@model CreditApplication.Pages.ApplicationForm.Step2Model

@{
    ViewData["Title"] = "Step2";
}

<h1>Step2</h1>

<h4>ClientAddress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ClientAddress.ClientID" class="control-label"></label>
                <select asp-for="ClientAddress.ClientID" class ="form-control" asp-items="ViewBag.ClientID"></select>
            </div> *@
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ClientAddress.City" class="control-label"></label>
                <input asp-for="ClientAddress.City" class="form-control" />
                <span asp-validation-for="ClientAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ClientAddress.StreetNeighbourhood" class="control-label"></label>
                <input asp-for="ClientAddress.StreetNeighbourhood" class="form-control" />
                <span asp-validation-for="ClientAddress.StreetNeighbourhood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientAddress.Number" class="control-label"></label>
                <input asp-for="ClientAddress.Number" class="form-control" />
                <span asp-validation-for="ClientAddress.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ClientAddress.PostalCode" class="control-label"></label>
                <input asp-for="ClientAddress.PostalCode" class="form-control" />
                <span asp-validation-for="ClientAddress.PostalCode" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="ClientAddress.CreatedOn" class="control-label"></label>
                <input asp-for="ClientAddress.CreatedOn" class="form-control" />
                <span asp-validation-for="ClientAddress.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientAddress.ModifiedOn" class="control-label"></label>
                <input asp-for="ClientAddress.ModifiedOn" class="form-control" />
                <span asp-validation-for="ClientAddress.ModifiedOn" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
