@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Client,Employee,Admin")]
@model CreditApplication.Pages.Step3Model

@{
    ViewData["Title"] = "Финансови данни";
}

<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-warning" style="width: 75%">Стъпка 3</div>
</div>


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="mb-0">Данни за адрес</h2>
                </div>
                <div class="card-body">
                    <form method="post" class="row g-3 needs-validation" novalidate>
                        <input type="hidden" asp-for="ClientId" value="@Model.ClientId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Financial.MontlyIncome" class="control-label">Размер на месечни доходи:</label>
                            <input asp-for="Financial.MontlyIncome" class="form-control" required="" />
                            <span asp-validation-for="Financial.MontlyIncome" class="text-danger"></span>
                            
                        </div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Financial.MontlyExpenses" class="control-label">Размер на месечени разходи:</label>
                            <input asp-for="Financial.MontlyExpenses" class="form-control" required="" />
                            <span asp-validation-for="Financial.MontlyExpenses" class="text-danger"></span>
                            
                        </div>
                        <div class="form-group col-12">
                            <span class="text-danger">*</span>
                            <label asp-for="Financial.EmploymentType" class="control-label">Вид заетост:</label>
                            <select asp-for="Financial.EmploymentType" class="form-control" required="" asp-items="ViewBag.EmploymentTypes"></select>
                            <span asp-validation-for="Financial.EmploymentType" class="text-danger"></span>
                            
                        </div>
                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-primary-miriam float-md-end">Напред</button>
                            <a asp-page="Step2_Address" class="btn btn-outline-dark float-md-start">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
