@page
@model CreditApplication.Pages.Step4Model

@{
    ViewData["Title"] = "Step4";
}

<h1>Step4</h1>

<h4>Credit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Credit.CreditAmount" class="control-label"></label>
                <input asp-for="Credit.CreditAmount" class="form-control" />
                <span asp-validation-for="Credit.CreditAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credit.CreditBeginDate" class="control-label"></label>
                <input asp-for="Credit.CreditBeginDate" class="form-control" />
                <span asp-validation-for="Credit.CreditBeginDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
